.single-collections-template{
	
	min-height: 100%;
	//margin-bottom: 300px;
	.buttons{
		.sk-overlay{
			background-color: transparent;
		}
	}

	.sk-overlay{
		 width: 100%;
	    height: 100%;
	    opacity: 0.6;
	    position: absolute;
	    top: 0;
	    
	}
}